[submodule "application"]
	path = application
	url = https://github.com/Kanto-Pharmaceuticals/pokedex-application
[submodule "documentation"]
	path = documentation
	url = https://github.com/Kanto-Pharmaceuticals/pokedex-documentation
[submodule "assets"]
	path = assets
	url = https://github.com/Kanto-Pharmaceuticals/pokedex-assets.git
